test tr,td,th {
   
    padding: 5px;
}

#test {
    border-collapse: collapse ;
    border-spacing: 65px 0;
}

.react-datepicker__input-container input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5.5px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  .react-datepicker {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
  }

  select, input[type='text'],input[type='number'],TimePicker {
    width: 200px; 
     height: 20px;
     border-radius: 5px;
     border: 2px solid;
}
#btnCreateFlight {    
    
    margin-top: 22px;
    margin-left: 22.5%;
    width: 19%;
    font-size: 17px;
    border: 0px;
    /* border-radius: 5px; */
    background: #001c68;
    color: white;
    margin-bottom: 5px;
}
.react-time-picker__clock  {
    display: none !important;
}
#divBorder{
    
    border: 2px solid;
    margin-left: 4.5%;
    width: 51%;
    border-radius: 15px;
    padding: 10px;

}
